body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: grey;
    color: white;
}

/* button is here because of .homeButton below. See comment with .homeButton */
button {
    background-color: blue;
    border-radius: 10%;
    border: none;
}

.hero {
    background-image: url("jesus-kiteque-224069-unsplash-1920pxandcentered.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

.landingPageTopHeading {
    padding-top: 4rem;
    font-size: 2rem;
    font-weight:100;
    color: black;
}

.landingPageMainHeading {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 4.5rem;
    color: darkorange;
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}

i, .fas fa-arrow-down {
    margin-top: 2rem;
    color: black;
    font-size: 2rem;
}

.landingPageLowerHeading {
    font-size: 1.5rem;
    color: black;
}

img {
    width: 100%;
    height: auto;
}

#wrapper {
    padding: 0.5rem;
    margin: 3rem auto;
    max-width: 90%;
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background: rgb(83, 80, 80);
    text-align: center;
}

.cardText {
    height: 7rem;
}

p {
    margin: 1rem;
    font-size: 1.2rem;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgb(83, 80, 80); 
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: orange;
    text-decoration: none;
}

@media only screen and (max-width: 925px) {
    #wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 610px) {
    #wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

.pageLayout {
    padding: 2rem;
}

.footerLinks {
   margin-left: 1rem;
}

/* homeButton to remove when nav in place */
.homeButton {
    margin-top: 4rem;
}